<div id="Chat">
    <!-- <div id="Chat-Header">
        <h1>Welcome!</h1>
        <p>How are you feeling today?</p>
    </div> -->
    <div id="Page-Container">
        
        <div id="Chat-Bot">
                <div id="Chat-Bot-Container">
                    <iframe src="https://www.chatbase.co/chatbot-iframe/-mdamLUEtlmt2xtqx1MLP" width="60%" style="height: 100%; border-radius: 40px;" frameborder="0"></iframe>
                    <div id="Chat-Bot-Text">
                        <p>Confide in</p>
                        <h2>Smayan</h2>
                    </div>
                </div>
        </div>


        <div id="Resources">
            <div id="Resource-Content">
                <div id="Resource-Text">
                    <h1>Resources</h1>
                    <p id="Resource-Text-1">Mental health is just as important as physical health, but often it is neglected or misunderstood. If you're feeling overwhelmed, anxious, sad, or just need someone to talk to, you're not alone.❤️</p>
                    <p id="Resource-Text-2"><b><span id="Resource-Text-3">Smayan</span> is not a real therapist, but we can help you find the resources you need.</b></p>
                    <ul>
                <li><b>National Mental Health Helpline:</b> 91-22-2772 6771</li>
                <li><b>Samaritans Mumbai:</b> 91-842 298 4528</li>
                <li><b>National Suicide Prevention Lifeline:</b> 1-800-273-8255</li>
                <li><b>Childline India Foundation:</b> 1098</li>
                        <li><b><a href="https://talkspace.com" target="_blank" style="color: rgb(255, 255, 255);">Talkspace</a></b></li>
                    </ul>
                </div>
                <div id="Resource-Image">
                    <img src="assets/images/ResourcesImage.gif" alt="Resource-Image">
                </div>
        </div>
        
    </div>
</div>                                      
