.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
}

.chart-box {
  background: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px #ddd;
}
