<div class="navbar">
  <div class="navbar-left">
    <button class="nav-item" routerLink="/"><span class="material-icons">home</span></button>
  </div>
  
  <div class="navbar-right">
    <button class="nav-item" routerLink="/chat">Chat</button>

    <button class="nav-item" routerLink="/journal">Journal</button>
    
    <button class="nav-item" routerLink="/tracker">Mood Tracker</button> 

    <button class="nav-item" routerLink="/meditation">Meditation</button>

    <button class="nav-item" routerLink="/habits">Habits</button>
    
    <button class="nav-item">User</button>
  </div>
</div>