<div id="Background">
    <div id="BackgroundBlur"></div>
    <div id="Habits">
        <h1 id="Title">Your {{ShowingGood?'Good Habits':'Bad Habits'}}</h1>
        <button id="Toggle-Habits" (click)="ToggleHabits()">{{ShowingGood?'Bad Habits':'Good Habits'}}</button>
    </div>
    <div id="Good" *ngIf="ShowingGood">
        <div id="Good-Habits" *ngFor = " let Good of GoodHabits">

            <div id="Good-Habit-Name">
            <p id="Name">{{Good.Name}}</p>
            <p id="Goal">{{Good.Goal}}</p>
            </div>
            
            <div id="StreakBox">
                <div id="Streak">Streak: {{Good.Streak}}</div>
                <div id="Controls">
                    <button id="Broke-Streak"><i class="fa fa-frown-o" aria-hidden="true"></i></button>
                    <button id="Add-Streak" (click)="onClickAdd()"><i class="fa fa-smile-o" aria-hidden="true"></i></button>
                </div>
            </div>
            
        </div>
    </div>

    <div id="Bad" *ngIf="!ShowingGood">
        <div id="Bad-Habits" *ngFor = " let Bad of BadHabits">

            <div id="Bad-Habit-Name">
            <p id="Name">{{Bad.Name}}</p>
            <p id="Goal">{{Bad.Goal}}</p>
            </div>
            
            <div id="StreakBox">
                <div id="Streak">Streak: {{Bad.Streak}}</div>
                <div id="Controls">
                    <button id="Broke-Streak"><i class="fa fa-frown-o" aria-hidden="true"></i></button>
                    <button id="Add-Streak"><i class="fa fa-smile-o" aria-hidden="true"></i></button>
                </div>
            </div>
            
        </div>
    </div>

    <div id="Image">
        <img src="/assets/images/Habit.png" alt="Habits">
    </div>
</div>