.navbar {
  background-color: white;
  color: white;
  /* border-bottom-left-radius: 30px; */
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*box-sizing: border-box; */
  z-index: 5;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
  height: 50px;
  
}

/* .close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.close-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
} */

/* h1 {
  color: #fff;
  margin: 0;
  font-size: 22px;
  font-weight: 500;
} */

.navbar-right {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.nav-item {
  background-color: rgba(255, 255, 255, 0.388);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid transparent; 
  margin-top: 12.5px;
  height: 50px;
  color: black;
  font-size: 16px;
  font-weight: bolder;
  padding: 20px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.nav-item:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.material-icons {
  font-size: 14px;
}

#AddButton{
  width: 70px;
  border: none;
  margin-top: 15px;
  height: 40px;
  color: white;
  font-size: 16px;
  padding: 20px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(19, 35, 106);
}
