<div class="navbar">
  <div class="navbar-left">
    <button class="nav-item" routerLink="/"><span class="material-symbols-outlined">home_app_logo</span></button>
    
    <button class="nav-item" routerLink="/dashboard"><span class="material-symbols-outlined">dashboard</span></button>
  
  </div>
  
  <div class="navbar-right">
    <button class="nav-item" routerLink="/chat">Chat</button>

    <button class="nav-item" routerLink="/journal">Journal</button>
    
    <button class="nav-item" routerLink="/calendar">Mood Calendar</button> 

    <button class="nav-item" routerLink="/meditation">Meditation</button>

    <button class="nav-item" routerLink="/habits">Habits</button>

    <button  id="AddButton"><span class="material-symbols-outlined">add</span></button>
    
    <!-- <button class="nav-item">User</button> -->
  </div>
</div>